.main_menu {
  height: 90vh;
}
.content {
  grid-area: content;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
h1 {
  background-color: #d0d9d4;
  color: black;
  margin: 0;
  text-align: left;
}
