.navbar {
  grid-area: navbar;
  margin: 0;
  border: solid 5px rgb(44, 44, 44);
  background-color: grey;
}
ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  padding-left: 10px;
  text-align: left;
}
.navbar a {
  color: #000;
  text-decoration: none;
}