.navbar {
  grid-area: navbar;
  margin: 0;
  border: solid 5px #427065;
  border-radius: 20%;
  background-color: #427065;
}
nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  text-align: center;
}
.navbar a {
  color: #000;
  text-decoration: none;
}