.app_wrapper {
  display: grid;
  grid-template-areas: "navbar content";
  grid-template-rows: 1fr;
  grid-template-columns: 10% 1fr;
  grid-gap: 20px;
  height: 90vh;
  padding: 20px;
  text-align: left;
  background: #d0d9d4;
}

/* Палитра
#427065 - самый темный синий
#90a19e - более светлый синий
#d0d9d4 - совсем светлый синий
#ba9f8c - светло-терракотовый
#9c5b48 - пожухлый лист
https://color.romanuke.com/tsvetovaya-palitra-1169/ */