.main_menu {
    display: grid;
    grid-template-areas:
    "navbar notification adding"
    "navbar calendar calendar";
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 10% 1fr 1fr;
  grid-gap: 5px;
  height: 100vh;
  margin: 5px;
  text-align: center;
}